HF_TOKEN=
INTERNAL_API_KEY=
DATABASE_URL=postgresql+asyncpg://postgres:<your password>@127.0.0.1:5432/my_vllm
JWT_SECRET=
NGROK_TOKEN=
VLLM_GPU_MEMORY_UTILIZATION=0.35
VLLM_KV_CACHE_MEMORY_BYTES=268435456